In [1]:
import pandas as pd

In [2]:
May = pd.read_csv("C:/Users/prakb/OneDrive/Desktop/tableau-challenge/CSV Data/JC-202205-citibike-tripdata.csv", sep=',')
June = pd.read_csv("C:/Users/prakb/OneDrive/Desktop/tableau-challenge/CSV Data/JC-202206-citibike-tripdata.csv", sep=',')
July = pd.read_csv("C:/Users/prakb/OneDrive/Desktop/tableau-challenge/CSV Data/JC-202207-citbike-tripdata.csv", sep=',')

In [6]:
#May
#June
#July

In [7]:
combine_csv_df = pd.concat([May, June, July])

In [8]:
combine_csv_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FC9EB68D6501F079,electric_bike,2022-05-15 14:02:06,2022-05-15 14:05:44,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.735938,-74.030305,40.740973,-74.028603,member
1,932A2D5E45ACED5B,electric_bike,2022-05-13 15:30:14,2022-05-13 15:33:03,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hudson St & 4 St,HB607,40.735938,-74.030305,40.740973,-74.028603,casual
2,8C0CD371C7A5795C,electric_bike,2022-05-31 20:41:39,2022-05-31 22:04:47,Hoboken Terminal - Hudson St & Hudson Pl,HB101,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.735938,-74.030305,40.736982,-74.027781,casual
3,25BC1B079FBC71B9,classic_bike,2022-05-29 17:24:23,2022-05-30 18:24:16,Hoboken Terminal - Hudson St & Hudson Pl,HB101,NaN,NaN,40.735938,-74.030305,NaN,NaN,member
4,0B0F776B55C85AB8,classic_bike,2022-05-26 16:49:12,2022-05-26 16:57:01,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hoboken Ave at Monmouth St,JC105,40.735938,-74.030305,40.735208,-74.046964,member

In [9]:
print(len(combine_csv_df))

292283

In [10]:
combine_csv_df.to_csv(r'CSV Data/Citibike_Complete.csv', index = False)